@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

//colors
$melon:#FEB5A6;
$rose-white: #FAE8E4;
$portage: #8A97DD;
$hawkes-blue: #DDE0F2;

//fonts
$poppins: 'Poppins', sans-serif;

//view ports
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;