@import '../../styles/common';

.pattern1{
    width: fit-content;
    &::after{
        content: '';
        width: 70%;
        height: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(16px,6px);
        background-color: $portage; 
        border-radius: 8px;       
    }
}
.pattern2{
    width: fit-content;
    img{
        position: absolute;
        top: -20px;
        left: -12px;
        z-index: 1;
    }
    h1{
        z-index: 4;
        position: relative;
    }
}